doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.container
        a.nav-link( class='size' href='/') Movielyn &#126991
        ul.nav.justify-content-end.main-nav
          li.nav-item
            a.nav-link(href='/') View Reviews
          if user
            li.nav-item
              a.nav-link(href='/') Welcome #{user.first_name}
               if user && user.is('Admin')
                 Welcome  &#11088;
            li.nav-item
              a.nav-link(href='/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='/register') Register
    div.container
      block content
